/* src/components/HomePage.css */

.home-page {
    position: relative;
    width: 100%;
    height: 100vh; /* Upewnia się, że wideo zajmuje całą wysokość widoku */
    overflow: hidden; /* Zapobiega przewijaniu na stronie HomePage */
  }
  
  html, body {
    height: 100%; /* Ustaw wysokość na 100% */
    margin: 0; /* Usuń domyślne marginesy */
  }
  
  .home-page-scroll-lock {
    overflow: hidden; /* Zapobiega przewijaniu na stronie HomePage */
  }
  